#03.Series e Index

## Nesta aula, aprendemos:

* Como selecionar uma variável do dataframe (por exemplo, dados['Tipo'] ou dados.Tipo)
* Que um dataframe é composto de vários Series
* Como eliminar duplicatas (pelo método drop_duplicates())
* Como redefinir o index de um dataframe e series (atributo index)
* Como concatenar dataframes (lembrando do axis)
* Como criar novos dataframes baseados em estruturas de dados Python (lista, dicionários ou tuples)

###Relatório de análise II
###Tipos de imóveis

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('aluguel.csv', sep=';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

In [ ]:
tipo_de_imovel = dados['Tipo']

In [ ]:
tipo_de_imovel.drop_duplicates()

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

In [ ]:
tipo_de_imovel.drop_duplicates(inplace = True)
tipo_de_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

##Organizando a visualização

In [ ]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [ ]:
tipo_de_imovel.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [ ]:
tipo_de_imovel.shape[0]

22

In [ ]:
range(tipo_de_imovel.shape[0])

range(0, 22)

In [ ]:
for i in range(tipo_de_imovel.shape[0]):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [ ]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])

In [ ]:
tipo_de_imovel.index
tipo_de_imovel

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [ ]:
tipo_de_imovel.columns.name = 'Id'
tipo_de_imovel

Id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

##06 (Extra) Criando dataframes

In [ ]:
import pandas as pd

### Series

In [ ]:
data = [1, 2, 3, 4, 5]

In [ ]:
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
index = ['Linha' + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [ ]:
s = pd.Series(data = data, index = index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [ ]:
data = {'Linha' + str (i) : i + 1 for i in range(5)}
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [ ]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [ ]:
s1 = s + 2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [ ]:
s2 = s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

### DataFrame

In [ ]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
index = ["linha" + str (i) for i in range(3)]
index

['linha0', 'linha1', 'linha2']

In [ ]:
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1  2
linha0  1  2  3
linha1  4  5  6
linha2  7  8  9

In [ ]:
columns = ["coluna" + str (i) for i in range(3)]
columns

['coluna0', 'coluna1', 'coluna2']

In [ ]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [ ]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [ ]:
df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [ ]:
data = [(1,2,3),
        (4,5,6),
        (7,8,9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
df3 = pd.DataFrame(data = data, index = index, columns = columns)
df3

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [ ]:
df1[df1 > 0] = 'A'
df1

       coluna0 coluna1 coluna2
linha0       A       A       A
linha1       A       A       A
linha2       A       A       A

In [ ]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [ ]:
df3[df3 > 0] = 'C'
df3

       coluna0 coluna1 coluna2
linha0       C       C       C
linha1       C       C       C
linha2       C       C       C

In [ ]:
df4 = pd.concat([df1, df2, df3], axis = 1)
df4

       coluna0 coluna1 coluna2 Coluna0 Coluna1 Coluna2 coluna0 coluna1 coluna2
linha0       A       A       A     NaN     NaN     NaN       C       C       C
linha1       A       A       A     NaN     NaN     NaN       C       C       C
linha2       A       A       A     NaN     NaN     NaN       C       C       C
Linha0     NaN     NaN     NaN       B       B       B     NaN     NaN     NaN
Linha1     NaN     NaN     NaN       B       B       B     NaN     NaN     NaN
Linha2     NaN     NaN     NaN       B       B       B     NaN     NaN     NaN